# Virtual Environments
venv/
env/
ENV/
.venv/

# Python cache
__pycache__/
*.pyc

# Downloaded music & temporary cover art thumbnails
*.mp3
*.flac
*.m4a
*.webm
*.wav
*.jpg
*.jpeg
*.webp
*.png

# Application logs & yt-dlp archives
download_archive.txt
*.log

# Operating System garbage
Thumbs.db
.DS_Store